

treeview.view:drop(active),
treeview.view > dndtarget:drop(active) {
    border-style: solid;
    border-width: 2px;
}

treeview.view > dndtarget:drop(active).after {
    border-style: none none solid none;
}

treeview.view > dndtarget:drop(active).before {
    border-style: solid none none none;
}

treeview.view > dndtarget:drop(active).after,
treeview.view > dndtarget:drop(active).before {
    border-width: 4px;
    border-radius: 10px;
}
