
popover { background: coral; }            /* Gtk3: Popover. Gtk4: Window that contains popover. */
menu { background: coral; }               /* Gtk3 only (Gtk4 menubar uses popover) */

label { background: lightblue; }
/* button { background: lightblue; } */
/* image { background: lightgreen; } */
/* check { background: purple; } */
/* radio { background: orange; } */
/* box { background: lightgray; } */

#Reset { background: lightgreen; }        /* Set by 'name' property. */

/* **** Menu Bar **** */

/* Gtk3  Widgets:  window -> menubar -> modelmenuitem -> menu -> modelmenuitem -> box -> image, accellabel
         CSS:      window -> menu -> menuitem -> check, box -> image, label -> accelerator */
menu menuitem { background: lightgreen; }

/* Gtk4  Widgets:  window -> popovermenubar -> popovermenubaritem -> popovermenu -> popovercontent ->
                             scrolledwindow -> viewport -> stack -> menusectionbox -> box ->
                             menusectionbox -> box -> modelbutton -> box, image, label, label
         CSS:      window -> menubar -> item -> popover -> contents ->
                             scrolledwindow -> viewport -> stack -> box -> box ->
                             box -> box -> modelbutton -> box, image, label, accelerator */
menubar modelbutton { background: lightgreen; }
/* menubar { background: red; } */

/* Attempt to style menu bar via id and name. Doesn't work: */
#MySubMenuButtons { background: red; }
.MySubMenuButtons { background: red; }
#MySubMenu { background: red; }
#menu-bar { background: red; }

scrolledwindow { min-width: 100px; min-height: 200px; }
