
listview > row {
    /* background: lightblue; */
    padding: 0px; /* Remove space between rows so drop doesn't enter listview. */
}

/*
listview treeexpander {
    background: pink;
}

listview expander {
    background: lightgreen;
}

listview label {
    background: lavender;
}
*/

listview treeexpander {
    border-width: 4px;
    border-style: none;
}

/*
listview treeexpander.drop {
    border-style: solid;
}
*/

listview treeexpander.before {
    border-style: solid none none none;
    border-radius: 10px;
}

listview treeexpander.after {
    border-style: none none solid none;
    border-radius: 10px;
}

listview treeexpander.into {
    border-style: solid;
    border-radius: 0px;
}
